/*setting general rules for the whole visible page*/
body{
    background-color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}
/*targeting the whole top navigation bar*/
header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: right;
    text-align: center;
}
/*targeting the elements of the navigation bar*/
header ul {
    display:flex;
    gap: 5px;
    margin-right: 15px;
    border: none;
    outline: none;
    text-align: center;
    margin-top: 15px;
}
/*taking away default parts of the navigation bar*/
li a:visited {
    text-decoration: none;
    color: white;
}
/*setting attributes for the elements of the navigation bar*/
li a {
    padding: 12px;
    border: 1px;
    transition: ease-in-out .4s;
    color: white;
    border: solid 4px;
    border-color: black;
    text-decoration: none;
    justify-content: end;
    text-align: center;
}
/*removing default underlining for navigation bar elements*/
li a:link{
    text-decoration: none;
    
}
/*setting backround transitions for the nav bar elements so you it's easier to see the element your cursor is on*/
li a:hover {
    background-color: rgb(255, 255, 255);
    transition: ease-in-out .4s;
    cursor: pointer;
    color: black; 
    box-shadow: 0 0 10px black inset;
    border-radius: 15px;
}
/*extra decorations for hovering over navigation bar elements*/
.link:focus {
    box-shadow: 0 0 10px black inset;
    text-decoration: none;
}
/*setting attributes for introduction at the top of the page*/
.hello{
    justify-content: center;
    font-size: 30px;
    margin: 120px 0 100px 300px;
    font-family:'Times New Roman', Times, serif
}
/*container around the about me section to better use flex*/
.maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* setting specific attributes for header of about me text*/
.aboutme h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
/*setting attributes for about me text section*/
.aboutme { 
    display: inline-flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    max-width: 500px;
    line-height: 2;
    font-size: 20px;
}
/*putting the image of me where I want it and making able to shrink for mobile*/
.img {
    display: inline-flex;
    flex-wrap:wrap;
    max-height: 500px;
    max-width: 450px;
    border-radius: 50px;
    border: 1px;
    border: solid;
    border-color: black;
    margin: 50px;
}
/*more characteristics for the image of me*/
#img {
    width: 100%;
    border-radius: 50px;
}
/*setting attributes for the image of my work so far*/
.img2 {
    max-height: 200px;
    max-width: 200px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 20px;
}
/*setting attributes for the my work heading*/
#work {
    display:flex;
    justify-content:center;
    font-size: 30px;
}
.work {
    margin: 100px;
    display:flex;
    justify-content:space-around;
    font-size: 30px;
}
/*setting attributes for the bottom of the page where the contact info is*/
footer ul{
    font-size: 20px;
    padding: 100px;
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
/*setting a media query to fix distortions from monitor to mobile size screens*/
@media all and (max-width:768px){
    header {
        justify-content: space-around;
    }
    .hello{
        margin: 50px 0px 0px 20px;
        font-size: 23px;
    }
    footer ul{
        flex-direction: column;
        font-size: 15px;
        padding: 100px 75px;
    }
}